* {
    margin: 2px;
    padding: 0;
    box-sizing: border-box;

}

body {
    background-color: mediumaquamarine;
    color: white;
    font-family: "Poppins", sans-serif;
    min-height: 100vh;
    
}

header {
    font-size: 1.5rem;

}

header, 
form {
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form input,
form button {
    padding: 0.5rem;
    padding-left: 0.8rem;
    font-size: 1.5rem;
    border: none;
    background: white;
    border-radius: 6rem;
}

form input {
    height: 3rem;
    
}

.fas.fa-plus-circle {
    font-size: 2.0rem;
    margin-left: 0.1px;  
    
}
.todo-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    padding-left: 4px;
    padding-right: 1px;
    padding-top: 7px;
    padding-bottom: 9.5px;
    margin-left: 20px;
  
    font-size: 2rem;
    width: 40px;
    height: 40px;
    border-radius: 45%;
    line-height: 40px;
    text-align: center;
    border: none;
}

form button {
    color: rgb(255, 127, 80);
    background: white;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-left: 0.5rem;
}

form button:hover {
    color: white;
    background: rgb(255, 127, 80);

}


.fa-plus-circle {
    margin-top: 0.3rem;
    margin-left: -8px;
}

.todo-container{
    display: flex;
    justify-content: center;
    align-items: center; 
}

.todo-list {
    min-width: 17%;
    list-style: none;
    
}

.todo-input::placeholder {
    font-size: smaller;
}
.todo-input {

    font-size: large;
}
.todo {
    margin: 0.5rem;
    padding-left: 0.5rem;
    background: white;
    color: black;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
    border-radius: 2rem;
    
}

.todo li {
    flex: 1;
}

.select {
    
    border: none;
    margin: 1rem;
    position: relative;
    overflow: hidden;
    border-radius: 30px;
    height: 50px;
    width: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    border: none;
    color: rgb(255, 127, 80);
    width: 100%;
    height: 100%;
    border-radius: 50px;
    cursor: pointer;
    padding: 0;
    padding: 1rem;
}

select, .filter-todos {
    height: 60px;
    
}

.trash-button,
.check-mark-btn {
    color: white;
    border: none;
    padding: 2rem;
    cursor: pointer;
    font-size: 1.5rem;
}


.check-mark-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(255, 127, 80);
    border-radius: 5px;
    width: 30px;
    height: 30px;
    padding: 10px;

   
    margin-right: 7px;
    
}

.finished {
    text-decoration: line-through;
    color: grey;
    opacity: 0.6;
}


.trash-btn {
    /* border-top-right-radius: 1.75rem;
    border-bottom-right-radius: 1.75rem; */
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    width: 30px;
    height: 30px;
    padding: 10px;
    background: rgb(171, 171, 171);
    margin-right: 17px;

}

.todo-item {
    padding: 0rem 0.5rem;

}

.fa-trash,
.fa-check-circle {
    pointer-events: none;

}

.finished {
    text-decoration: line-through;
    opacity: 0.5;
}

.slide {
    transform: translateX(10rem);
    opacity: 0;
}

/*::after adds content/decorative elements to .select */
.select::after {
    content:"\25BC";
    position: absolute;
    background: rgb(255, 127, 80);
    top: 0;
    right: 0;
    padding: 0.9rem;
    transform: translate(-7px, 5px); 
    border-radius: 20px;
    pointer-events: none;
    transition: all 0.3s ease;
    width: 12px;
    height: 11px;
}


.select:hover::after {
    background: rgb(255, 166, 133);
    color: rgb(255, 127, 80);
}
/* These styles below are for the home page "home.html" */
.home-page-title {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 40px;
   
}
.home-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
}

.home-login-button {

    display: inline-block;
    padding: 10px 25px;
    color: white;
    background-color:  rgb(255, 127, 80);
    text-decoration: none;
    border-radius: 15px;
    margin: 0 10px;
}

.home-register-button {
    display: inline-block;
    padding: 10px 20px;
    color: white;
    background-color: rgb(255, 127, 80);
    text-decoration: none;
    border-radius: 15px;
    margin: 0 10px;
}

.home-login-button:hover,
.home-register-button:hover {
    background: rgb(255, 166, 133);
    color: rgb(255, 127, 80);
}

/* Styles for login page "login.html" */
.login-page-title {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 40px;
}

 .app-login-button {
    display: inline-block;
    padding: 10px 15px;
    color: white;
    background-color:  rgb(255, 127, 80);
    text-decoration: none;
    height: 44px;
    border-radius: 20px;
    margin: 0 25px;
}

form .app-login-button:hover {
    background: rgb(255, 166, 133);
    color: rgb(255, 127, 80);
}

form .login-form {
    box-sizing: border-box;      
    margin: 20px auto;
   
    
}
.login-input-field {
    width: 20%; /* Styles the "username" and "password" fields within the .login-form container */
}


form .login-input-field::placeholder { 
    text-align: center;
}

.login-register-container {
    display: flex;
    justify-content: center;
}

.login-register-btn {   /* Button to redirect from login page to sign-up page*/
    display: inline-block;
    justify-content: center;
    padding: 10px 15px;
    color: white;
    background-color:  rgb(255, 127, 80);
    text-decoration: none;
    height: 40px;
    border-radius: 20px;
    margin-top: 90px;
}
.login-register-btn:hover {
    background: rgb(255, 166, 133);
    color: rgb(255, 127, 80);
}

/* Now styling classes in dashboard.html */

.welcome-message {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.logout-container { /* This is the class div that encapsulates logout-link-button */
    display: flex;
    justify-content: center;
    margin-top: 200px;
}
.logout-link-button {
    display: inline-block;
    justify-content: center;
    padding: 10px 15px;
    color: white;
    background-color:  rgb(255, 127, 80);
    text-decoration: none;
    height: 44px;
    border-radius: 20px;
   
    /* margin-bottom: 100px; */
    /* margin-bottom: 200px; */
    margin-top: -130px;
}

.logout-link-button:hover {
    background: rgb(255, 166, 133);
    color: rgb(255, 127, 80);
}

.parent-dashboard-container {
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 30vh;
}

.dashboard-todo-container {
    display: inline-block;

    padding: 10px 15px;
    color: white;
    background-color:  rgb(255, 127, 80);
    text-decoration: none;
    /* height: 44px; */
    border-radius: 20px;
    /* margin: 0 25px; */
    margin-top: 280px;
    
}
.todo-link {
    color: white; 
    display: block; 
    text-align: center;
    text-decoration: none; 
}
.dashboard-todo-container:hover {
    background: rgb(255, 166, 133);
    color: rgb(255, 127, 80);
}