<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="/frontend/style.css">
    
    <title>Dashboard</title>
</head>
<body>
    <h1 class="welcome-message">Hello 👋 you are Logged in</h1>
    <div class="parent-dashboard-container">
        <div class="dashboard-todo-container">
            <a href="{{url_for('todo')}}" class="todo-link">Go to To-Do List</a>
        </div>
    </div>


    <div class="logout-container">
        <a href="{{url_for('logout')}}" class="logout-link-button">Log Out</a>
    </div>
    
    
</body>
</html>